@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$primary-color: #3366ff;
$hero-color: #172b5e;
$font-light: #fff;
$font-dark: #000000;
$para-color: #464646;
$layanan-keamanan: #94ccfd;
$layanan-cloud: #7aec8d;
$layanan-fleksibel: #fec7a9;
$icon-star: #e89900;
$accordion-bg: #f4f7fb;

// Breakpoints
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin desktop2 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// Navbar
.headerWrapper {
  height: 100vh;
  background: $hero-color;

  @include desktop() {
    height: 100%;
  }

  @include tablet() {
    height: 100%;
  }

  @include mobile() {
    height: 100%;
  }
}
.navbar {
  .container {
    .navbar-brand {
      font-size: 24px;
      font-weight: 700;

      @include mobile() {
        font-size: 30px;
      }
    }

    .navbar-toggler {
      border: none;

      svg {
        color: $font-light;
        font-size: 30px;
      }
    }

    .navbar-collapse {
      @include desktop() {
        margin: 20px 0;
      }

      @include tablet() {
        margin: 20px 0;
      }

      @include mobile() {
        margin: 20px 0;
      }

      .navbar-nav {
        gap: 40px;
        text-align: center;

        @include desktop() {
          gap: 10px;
        }

        @include tablet() {
          gap: 10px;
        }

        @include mobile() {
          gap: 10px;
        }

        .nav-item {
          .nav-link {
            &.active {
              &::after {
                @include desktop() {
                  height: 0;
                  width: 0;
                }

                @include tablet() {
                  height: 0;
                  width: 0;
                }

                @include mobile() {
                  height: 0;
                  width: 0;
                }
              }
            }

            &::after {
              @include desktop() {
                height: 0;
              }

              @include tablet() {
                height: 0;
              }

              @include mobile() {
                height: 0;
              }
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            @include mobile() {
              font-size: 16px;
            }
          }
        }
      }

      .btn-navbar {
        @include desktop() {
          margin-top: 20px;
        }

        @include tablet() {
          margin-top: 20px;
        }

        @include mobile() {
          margin-top: 20px;
        }
      }
    }
  }
}

// Hero Section
#hero {
  @include mobile() {
    margin-top: 70px;
  }

  .innerHero {
    @include desktop() {
      gap: 100px;
      flex-direction: column-reverse;
    }

    @include mobile() {
      gap: 70px;
    }

    .colHero-1 {
      .dotsImage {
        @include desktop() {
          display: none;
        }
      }

      .heroTypography {
        position: relative;
        h1 {
          @include mobile() {
            font-size: 9vw;
            line-height: 12vw;
          }
        }
      }
      .btn-hero {
        margin-top: 50px;
      }
    }

    .colHero-2 {
      @include desktop() {
        justify-content: center;
      }

      img {
        @include mobile() {
          width: 80vw;
        }
      }
    }
  }
}

// AboutUs Section
#aboutUs {
  h5 {
    @include mobile() {
      font-size: 14px;
    }
  }

  h1 {
    @include mobile() {
      font-size: 18px;
    }
  }
  .innerAboutUs {
    @include desktop() {
      margin-top: 40px;
      gap: 40px;
    }

    @include tablet() {
      margin-top: 40px;
      gap: 40px;
    }

    @include mobile() {
      margin-top: 20px;
      gap: 20px;
    }

    .aboutImage {
      @include mobile() {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        @include mobile() {
          width: 85vw;
        }
      }
    }

    .aboutUsTypo {
      .para-desktop {
        @include desktop() {
          text-align: justify;
        }

        @include mobile() {
          display: none;
        }
      }

      .para-mobile {
        @include mobile() {
          display: block;
          text-align: justify;
          font-size: 14px;
        }
      }

      .btnAbout {
        @include desktop() {
          margin-top: 50px;
        }

        @include tablet() {
          margin-top: 50px;
        }

        @include mobile() {
          margin-top: 50px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

#layanan {
  @include mobile() {
    padding: 30px 10px !important;
  }
  h5 {
    @include mobile() {
      font-size: 14px;
    }
  }

  h1 {
    @include mobile() {
      font-size: 18px;
      line-height: 30px !important;
    }
  }

  @include mobile() {
    padding: 30px 0;
  }

  .hiasanLayananYellow {
    @include desktop() {
      display: none;
    }
  }

  .hiasanLayananBlue {
    @include desktop2() {
      display: none;
    }

    @include desktop() {
      display: none;
    }
  }

  h1 {
    @include desktop() {
      padding: 0;
      line-height: 50px;
    }

    @include mobile() {
      line-height: 40px;
    }
  }

  .innerSwiper {
    @include mobile() {
      padding: 0 20px;
    }
    .swiper {
      .swiper-wrapper {
        @include desktop() {
          column-gap: 30px;
        }

        @include tablet() {
          column-gap: 30px;
        }

        @include mobile() {
          column-gap: 9vw;
          justify-content: flex-start;
        }
        .layananItem {
          .card {
            @include desktop() {
              width: 250px;
            }

            @include tablet() {
              width: 250px;
            }

            @include mobile() {
              width: 180px;
              height: 234px;
              padding: 0;
            }

            .card-img-top {
              @include desktop() {
                margin-top: 35px;
              }

              @include tablet() {
                margin-top: 35px;
              }

              @include mobile() {
                width: 46px;
                // margin-top: 40px;
              }
            }

            .card-title {
              @include desktop() {
                margin-top: 20px;
              }

              @include tablet() {
                margin-top: 20px;
              }

              @include mobile() {
                font-size: 16px;
                margin-top: 20px;
              }
            }

            .card-text {
              @include mobile() {
                font-size: 12px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

// Info Section
#info {
  @include desktop() {
    margin-top: 0;
    overflow-x: hidden;
  }

  @include tablet() {
    margin-top: 0;
  }

  .InnerInfo {
    .info-list {
      @include desktop() {
        padding: 0 80px;
      }

      @include tablet() {
        padding: 0 80px;
      }

      @include mobile() {
        padding: 0 9vw;
      }

      &::after {
        @include desktop() {
          display: none;
        }
      }

      .info-item {
        @include tablet() {
          width: 200px;
          height: 100px;
        }
        @include mobile() {
          width: 170px;
          height: 86px;
        }

        .card-body {
          .card-title {
            @include tablet() {
              font-size: 36px;
            }
            @include mobile() {
              font-size: 32px;
            }
          }

          .card-text {
            @include tablet() {
              font-size: 14px;
            }
            @include mobile() {
              font-size: 12px;
            }
          }
        }
      }
    }

    .info-images {
      @include desktop2() {
        overflow: hidden;
      }
      .inner-info-images {
        @include desktop() {
          margin-right: -200px;
        }
        .infoImg {
          @include desktop2() {
            margin-right: -225px;
          }

          @include desktop() {
            margin-left: -230px;
            margin-right: -200px;
          }

          @include tablet() {
            margin-left: -100px;
          }
          @include mobile() {
            margin-left: 20px;
          }
        }

        .hiasanInfo {
          @include desktop() {
            display: none;
          }
        }
      }
    }
  }
}

// Partenrs Section
#Partners {
  @include desktop() {
    display: block;
    margin-top: 0;
  }

  @include tablet() {
    display: block;
  }

  @include mobile() {
    display: none;
  }
}

#PartnersMobile {
  @include desktop() {
    display: none;
  }

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: block;
    padding: 30px;
  }
}

// Produk Section
#produk {
  margin-top: 100px;
  padding: 0;
  @include tablet() {
    margin-top: 76px;
    padding: 0;
  }

  @include mobile() {
    margin-top: 0;
    padding: 20px;
  }

  h5 {
    @include mobile() {
      font-size: 14px;
    }
  }

  h1 {
    @include mobile() {
      font-size: 18px;
    }
  }

  p.produk-para {
    @include mobile() {
      display: none;
    }
  }

  .inner-produk {
    @include desktop() {
      padding: 40px 0;
    }
    @include tablet() {
      padding: 0 0;
    }
    @include mobile() {
      padding: 0 20px;
    }

    .produk-item {
      .card-produk {
        @include mobile() {
          width: 128px;
          height: 152px;
          gap: 20px;
        }

        .produkImg {
          @include mobile() {
            width: 45px;
          }
        }

        .card-body {
          .card-title {
            @include mobile() {
              font-size: 12px;
              white-space: nowrap;
            }
          }

          .card-text {
            @include mobile() {
              font-size: 10px;
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}

// Pesan Section
#pesan {
  @include mobile() {
    padding: 56px 10px;
  }

  .pesan-headline {
    @include mobile() {
      font-size: 18px;
    }
  }

  .pesan-para {
    @include desktop2() {
      padding: 0 50px;
    }

    @include desktop() {
      padding: 0;
    }

    @include tablet() {
      padding: 0;
    }

    @include mobile() {
      font-size: 14px;
      padding: 0;
    }
  }
}
