@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.headerWrapper {
  height: 100vh;
  background: #172b5e;
}
@media screen and (max-width: 992px) {
  .headerWrapper {
    height: 100%;
  }
}
@media screen and (max-width: 769px) {
  .headerWrapper {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .headerWrapper {
    height: 100%;
  }
}

.navbar .container .navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-brand {
    font-size: 30px;
  }
}
.navbar .container .navbar-toggler {
  border: none;
}
.navbar .container .navbar-toggler svg {
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .navbar .container .navbar-collapse {
    margin: 20px 0;
  }
}
@media screen and (max-width: 769px) {
  .navbar .container .navbar-collapse {
    margin: 20px 0;
  }
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse {
    margin: 20px 0;
  }
}
.navbar .container .navbar-collapse .navbar-nav {
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .navbar .container .navbar-collapse .navbar-nav {
    gap: 10px;
  }
}
@media screen and (max-width: 769px) {
  .navbar .container .navbar-collapse .navbar-nav {
    gap: 10px;
  }
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse .navbar-nav {
    gap: 10px;
  }
}
@media screen and (max-width: 992px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    height: 0;
    width: 0;
  }
}
@media screen and (max-width: 769px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    height: 0;
    width: 0;
  }
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    height: 0;
    width: 0;
  }
}
@media screen and (max-width: 992px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    height: 0;
  }
}
@media screen and (max-width: 769px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    height: 0;
  }
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link::after {
    height: 0;
  }
}
.navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .navbar .container .navbar-collapse .btn-navbar {
    margin-top: 20px;
  }
}
@media screen and (max-width: 769px) {
  .navbar .container .navbar-collapse .btn-navbar {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .navbar .container .navbar-collapse .btn-navbar {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  #hero {
    margin-top: 70px;
  }
}
@media screen and (max-width: 992px) {
  #hero .innerHero {
    gap: 100px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 576px) {
  #hero .innerHero {
    gap: 70px;
  }
}
@media screen and (max-width: 992px) {
  #hero .innerHero .colHero-1 .dotsImage {
    display: none;
  }
}
#hero .innerHero .colHero-1 .heroTypography {
  position: relative;
}
@media screen and (max-width: 576px) {
  #hero .innerHero .colHero-1 .heroTypography h1 {
    font-size: 9vw;
    line-height: 12vw;
  }
}
#hero .innerHero .colHero-1 .btn-hero {
  margin-top: 50px;
}
@media screen and (max-width: 992px) {
  #hero .innerHero .colHero-2 {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  #hero .innerHero .colHero-2 img {
    width: 80vw;
  }
}

@media screen and (max-width: 576px) {
  #aboutUs h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  #aboutUs .innerAboutUs {
    margin-top: 40px;
    gap: 40px;
  }
}
@media screen and (max-width: 769px) {
  #aboutUs .innerAboutUs {
    margin-top: 40px;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs {
    margin-top: 20px;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs .aboutImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs .aboutImage img {
    width: 85vw;
  }
}
@media screen and (max-width: 992px) {
  #aboutUs .innerAboutUs .aboutUsTypo .para-desktop {
    text-align: justify;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs .aboutUsTypo .para-desktop {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs .aboutUsTypo .para-mobile {
    display: block;
    text-align: justify;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  #aboutUs .innerAboutUs .aboutUsTypo .btnAbout {
    margin-top: 50px;
  }
}
@media screen and (max-width: 769px) {
  #aboutUs .innerAboutUs .aboutUsTypo .btnAbout {
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  #aboutUs .innerAboutUs .aboutUsTypo .btnAbout {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  #layanan {
    padding: 30px 10px !important;
  }
}
@media screen and (max-width: 576px) {
  #layanan h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #layanan h1 {
    font-size: 18px;
    line-height: 30px !important;
  }
}
@media screen and (max-width: 576px) {
  #layanan {
    padding: 30px 0;
  }
}
@media screen and (max-width: 992px) {
  #layanan .hiasanLayananYellow {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #layanan .hiasanLayananBlue {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #layanan .hiasanLayananBlue {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #layanan h1 {
    padding: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 576px) {
  #layanan h1 {
    line-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 992px) {
  #layanan .innerSwiper .swiper .swiper-wrapper {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 769px) {
  #layanan .innerSwiper .swiper .swiper-wrapper {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper .swiper .swiper-wrapper {
    -moz-column-gap: 9vw;
         column-gap: 9vw;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card {
    width: 250px;
  }
}
@media screen and (max-width: 769px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card {
    width: 250px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card {
    width: 180px;
    height: 234px;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-img-top {
    margin-top: 35px;
  }
}
@media screen and (max-width: 769px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-img-top {
    margin-top: 35px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-img-top {
    width: 46px;
  }
}
@media screen and (max-width: 992px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 769px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-title {
    font-size: 16px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  #layanan .innerSwiper .swiper .swiper-wrapper .layananItem .card .card-text {
    font-size: 12px;
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  #info {
    margin-top: 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 769px) {
  #info {
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  #info .InnerInfo .info-list {
    padding: 0 80px;
  }
}
@media screen and (max-width: 769px) {
  #info .InnerInfo .info-list {
    padding: 0 80px;
  }
}
@media screen and (max-width: 576px) {
  #info .InnerInfo .info-list {
    padding: 0 9vw;
  }
}
@media screen and (max-width: 992px) {
  #info .InnerInfo .info-list::after {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  #info .InnerInfo .info-list .info-item {
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 576px) {
  #info .InnerInfo .info-list .info-item {
    width: 170px;
    height: 86px;
  }
}
@media screen and (max-width: 769px) {
  #info .InnerInfo .info-list .info-item .card-body .card-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  #info .InnerInfo .info-list .info-item .card-body .card-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 769px) {
  #info .InnerInfo .info-list .info-item .card-body .card-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #info .InnerInfo .info-list .info-item .card-body .card-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  #info .InnerInfo .info-images {
    overflow: hidden;
  }
}
@media screen and (max-width: 992px) {
  #info .InnerInfo .info-images .inner-info-images {
    margin-right: -200px;
  }
}
@media screen and (max-width: 1200px) {
  #info .InnerInfo .info-images .inner-info-images .infoImg {
    margin-right: -225px;
  }
}
@media screen and (max-width: 992px) {
  #info .InnerInfo .info-images .inner-info-images .infoImg {
    margin-left: -230px;
    margin-right: -200px;
  }
}
@media screen and (max-width: 769px) {
  #info .InnerInfo .info-images .inner-info-images .infoImg {
    margin-left: -100px;
  }
}
@media screen and (max-width: 576px) {
  #info .InnerInfo .info-images .inner-info-images .infoImg {
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  #info .InnerInfo .info-images .inner-info-images .hiasanInfo {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #Partners {
    display: block;
    margin-top: 0;
  }
}
@media screen and (max-width: 769px) {
  #Partners {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  #Partners {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #PartnersMobile {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  #PartnersMobile {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #PartnersMobile {
    display: block;
    padding: 30px;
  }
}

@media screen and (max-width: 576px) {
  #produk {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  #produk h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #produk h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  #produk p.produk-para {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  #produk .inner-produk {
    padding: 40px 0;
  }
}
@media screen and (max-width: 769px) {
  #produk .inner-produk {
    padding: 40px 0;
  }
}
@media screen and (max-width: 576px) {
  #produk .inner-produk {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 576px) {
  #produk .inner-produk .produk-item .card-produk {
    width: 128px;
    height: 152px;
    gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  #produk .inner-produk .produk-item .card-produk .produkImg {
    width: 45px;
  }
}
@media screen and (max-width: 576px) {
  #produk .inner-produk .produk-item .card-produk .card-body .card-title {
    font-size: 12px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 576px) {
  #produk .inner-produk .produk-item .card-produk .card-body .card-text {
    font-size: 10px;
    margin: 0 !important;
  }
}/*# sourceMappingURL=ErpApp.css.map */