@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$primary-color: #3366ff;
$hero-color: #172b5e;
$font-light: #fff;
$font-dark: #000000;
$para-color: #464646;
$layanan-keamanan: #94ccfd;
$layanan-cloud: #7aec8d;
$layanan-fleksibel: #fec7a9;
$icon-star: #e89900;
$accordion-bg: #f4f7fb;

// Breakpoints
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin desktop2 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// Navbar
.headerWrapper {
  height: 100vh;
  background: $hero-color;

  @include desktop() {
    height: 100%;
  }

  @include tablet() {
    height: 100%;
  }

  @include mobile() {
    height: 100%;
  }
}
.navbar {
  .container {
    .navbar-brand {
      font-size: 24px;
      font-weight: 700;

      @include mobile() {
        font-size: 30px;
      }
    }

    .navbar-toggler {
      border: none;

      svg {
        color: $font-light;
        font-size: 30px;
      }
    }

    .navbar-collapse {
      @include desktop() {
        margin: 20px 0;
      }

      @include tablet() {
        margin: 20px 0;
      }

      @include mobile() {
        margin: 20px 0;
      }

      .navbar-nav {
        gap: 40px;
        text-align: center;

        @include desktop() {
          gap: 10px;
        }

        @include tablet() {
          gap: 10px;
        }

        @include mobile() {
          gap: 10px;
        }

        .nav-item {
          .nav-link {
            &.active {
              &::after {
                @include desktop() {
                  height: 0;
                  width: 0;
                }

                @include tablet() {
                  height: 0;
                  width: 0;
                }

                @include mobile() {
                  height: 0;
                  width: 0;
                }
              }
            }

            &::after {
              @include desktop() {
                height: 0;
              }

              @include tablet() {
                height: 0;
              }

              @include mobile() {
                height: 0;
              }
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            @include mobile() {
              font-size: 16px;
            }
          }
        }
      }

      .btn-navbar {
        @include desktop() {
          margin-top: 20px;
        }

        @include tablet() {
          margin-top: 20px;
        }

        @include mobile() {
          margin-top: 20px;
        }
      }
    }
  }
}

// Hero Section
#hero {
  @include mobile() {
    margin-top: 70px;
  }

  .innerHero {
    @include desktop() {
      gap: 100px;
      flex-direction: column-reverse;
    }

    @include mobile() {
      gap: 70px;
    }

    .colHero-1 {
      .dotsImage {
        @include desktop() {
          display: none;
        }
      }

      .heroTypography {
        position: relative;
        h1 {
          @include mobile() {
            font-size: 9vw;
            line-height: 12vw;
          }
        }
      }
      .btn-hero {
        margin-top: 50px;
      }
    }

    .colHero-2 {
      @include desktop() {
        justify-content: center;
      }

      img {
        @include mobile() {
          width: 80vw;
        }
      }
    }
  }
}

// AboutUs Section
#aboutUs {
  .innerAboutUs {
    @include desktop() {
      margin-top: 40px;
      gap: 40px;
    }

    @include tablet() {
      margin-top: 40px;
      gap: 40px;
    }

    @include mobile() {
      margin-top: 20px;
      gap: 20px;
    }

    .aboutImage {
      @include mobile() {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        @include mobile() {
          width: 85vw;
        }
      }
    }

    .aboutUsTypo {
      .para-desktop {
        @include desktop() {
          text-align: justify;
        }

        @include mobile() {
          display: none;
        }
      }

      .para-mobile {
        @include mobile() {
          display: block;
          text-align: justify;
          font-size: 16px;
        }
      }

      .btnAbout {
        @include desktop() {
          margin-top: 50px;
        }

        @include tablet() {
          margin-top: 50px;
        }

        @include mobile() {
          margin-top: 50px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

#layanan {
  @include mobile() {
    padding: 30px 0;
  }

  .hiasanLayananYellow {
    @include desktop() {
      display: none;
    }
  }

  .hiasanLayananBlue {
    @include desktop2() {
      display: none;
    }

    @include desktop() {
      display: none;
    }
  }

  h1 {
    @include desktop() {
      padding: 0;
      line-height: 50px;
    }

    @include mobile() {
      line-height: 40px;
    }
  }

  .innerSwiper {
    @include mobile() {
      padding: 0 20px;
    }
    .swiper {
      .swiper-wrapper {
        @include desktop() {
          column-gap: 30px;
        }

        @include tablet() {
          column-gap: 30px;
        }

        @include mobile() {
          column-gap: 9vw;
          justify-content: flex-start;
        }
        .layananItem {
          .card {
            @include desktop() {
              width: 250px;
            }

            @include tablet() {
              width: 250px;
            }

            @include mobile() {
              width: 300px;
              height: 380px;
            }

            .card-img-top {
              @include desktop() {
                margin-top: 35px;
              }

              @include tablet() {
                margin-top: 35px;
              }

              @include mobile() {
                width: 85px;
                margin-top: 40px;
              }
            }

            .card-title {
              @include desktop() {
                margin-top: 20px;
              }

              @include tablet() {
                margin-top: 20px;
              }

              @include mobile() {
                font-size: 26px;
                margin-top: 30px;
              }
            }

            .card-text {
              @include mobile() {
                font-size: 20px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// Info Section
#info {
  position: relative;
  margin-top: 76px;
  margin-bottom: 40rem;
  padding: 0;
  @include desktop() {
    overflow-x: hidden;
  }

  .InnerInfo {
    .info-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include desktop() {
        padding: 0 80px;
      }

      @include tablet() {
        padding: 0 80px;
      }

      @include mobile() {
        padding: 0 9vw;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        width: 363px;
        height: 100%;
        border-radius: 0 20px 20px 0;
        z-index: -10;
        background-color: rgba(244, 247, 251, 1);

        @include desktop() {
          display: none;
        }
      }

      .info-item {
        margin-left: 30px;
        width: 243px;
        height: 129px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 128px 51px rgba(64, 66, 69, 0.01), 0px 72px 43px rgba(64, 66, 69, 0.05), 0px 32px 32px rgba(64, 66, 69, 0.09), 0px 8px 18px rgba(64, 66, 69, 0.1), 0px 0px 0px rgba(64, 66, 69, 0.1);

        @include tablet() {
          width: 200px;
          height: 100px;
        }
        @include mobile() {
          width: 170px;
          height: 86px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 10px;
          height: 100%;
          border-radius: 10px 0 0 10px;
          background-color: #85a9ff;
        }

        .card-body {
          text-align: center;

          .card-title {
            font-size: 46px;
            font-weight: 700;
            color: $primary-color;

            @include tablet() {
              font-size: 36px;
            }
            @include mobile() {
              font-size: 32px;
            }
          }

          .card-text {
            font-size: 18px;
            font-weight: 500;
            color: $font-dark;

            @include tablet() {
              font-size: 14px;
            }
            @include mobile() {
              font-size: 12px;
            }
          }
        }
      }
    }

    .info-images {
      position: relative;

      @include desktop() {
        overflow: hidden;
      }
      .inner-info-images {
        @include desktop() {
          // overflow-x: hidden;
          margin-right: -200px;
        }
        .infoImg {
          width: 828px;
          position: relative;
          z-index: -1;

          @include desktop() {
            margin-left: -230px;
            margin-right: -200px;
          }

          @include tablet() {
            margin-left: -100px;
          }
          @include mobile() {
            margin-left: -15px;
          }
        }

        .hiasanInfo {
          position: absolute;
          width: 140px;
          right: 15px;
          top: 150px;
          z-index: -10;

          @include desktop() {
            display: none;
          }
        }
      }
    }
  }
}
