@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$primary-color: #3366ff;
$hero-color: #172b5e;
$font-light: #fff;
$font-dark: #000000;
$para-color: #464646;
$layanan-keamanan: #94ccfd;
$layanan-cloud: #7aec8d;
$layanan-fleksibel: #fec7a9;
$icon-star: #e89900;
$accordion-bg: #f4f7fb;

// Breakpoints
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin desktop2 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

// Navbar
.headerWrapper {
  height: 100vh;
  background: $hero-color;

  @include desktop() {
    height: 100%;
  }

  @include tablet() {
    height: 100%;
  }

  @include mobile() {
    height: 100%;
  }
}
.navbar {
  .container {
    .navbar-brand {
      font-size: 24px;
      font-weight: 700;

      @include mobile() {
        font-size: 30px;
      }
    }

    .navbar-toggler {
      border: none;

      svg {
        color: $font-light;
        font-size: 30px;
      }
    }

    .navbar-collapse {
      @include desktop() {
        margin: 20px 0;
      }

      @include tablet() {
        margin: 20px 0;
      }

      @include mobile() {
        margin: 20px 0;
      }

      .navbar-nav {
        gap: 40px;
        text-align: center;

        @include desktop() {
          gap: 10px;
        }

        @include tablet() {
          gap: 10px;
        }

        @include mobile() {
          gap: 10px;
        }

        .nav-item {
          .nav-link {
            &.active {
              &::after {
                @include desktop() {
                  height: 0;
                  width: 0;
                }

                @include tablet() {
                  height: 0;
                  width: 0;
                }

                @include mobile() {
                  height: 0;
                  width: 0;
                }
              }
            }

            &::after {
              @include desktop() {
                height: 0;
              }

              @include tablet() {
                height: 0;
              }

              @include mobile() {
                height: 0;
              }
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            @include mobile() {
              font-size: 16px;
            }
          }
        }
      }

      .btn-navbar {
        @include desktop() {
          margin-top: 20px;
        }

        @include tablet() {
          margin-top: 20px;
        }

        @include mobile() {
          margin-top: 20px;
        }
      }
    }
  }
}

// Hero Section
#hero {
  @include mobile() {
    margin-top: 70px;
  }

  .innerHero {
    @include desktop() {
      gap: 100px;
      flex-direction: column-reverse;
    }

    @include mobile() {
      gap: 70px;
    }

    .colHero-1 {
      .dotsImage {
        @include desktop() {
          display: none;
        }
      }

      .heroTypography {
        position: relative;
        h1 {
          @include mobile() {
            font-size: 9vw;
            line-height: 12vw;
          }
        }
      }
      .btn-hero {
        margin-top: 50px;
      }
    }

    .colHero-2 {
      @include desktop() {
        justify-content: center;
      }

      img {
        @include mobile() {
          width: 80vw;
        }
      }
    }
  }
}

// AboutUs Section
#aboutUs {
  .innerAboutUs {
    @include desktop() {
      margin-top: 40px;
      gap: 40px;
    }

    @include tablet() {
      margin-top: 40px;
      gap: 40px;
    }

    @include mobile() {
      margin-top: 20px;
      gap: 20px;
    }

    .aboutImage {
      @include mobile() {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        @include mobile() {
          width: 85vw;
        }
      }
    }

    .aboutUsTypo {
      .para-desktop {
        @include desktop() {
          text-align: justify;
        }

        @include mobile() {
          display: none;
        }
      }

      .para-mobile {
        @include mobile() {
          display: block;
          text-align: justify;
          font-size: 16px;
        }
      }

      .btnAbout {
        @include desktop() {
          margin-top: 50px;
        }

        @include tablet() {
          margin-top: 50px;
        }

        @include mobile() {
          margin-top: 50px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

#layanan {
  @include mobile() {
    padding: 30px 0;
  }

  .hiasanLayananYellow {
    @include desktop() {
      display: none;
    }
  }

  .hiasanLayananBlue {
    @include desktop2() {
      display: none;
    }

    @include desktop() {
      display: none;
    }
  }

  h1 {
    @include desktop() {
      padding: 0;
      line-height: 50px;
    }

    @include mobile() {
      line-height: 40px;
    }
  }

  .innerSwiper {
    @include mobile() {
      padding: 0 20px;
    }
    .swiper {
      .swiper-wrapper {
        @include desktop() {
          column-gap: 30px;
        }

        @include tablet() {
          column-gap: 30px;
        }

        @include mobile() {
          column-gap: 9vw;
          justify-content: flex-start;
        }
        .layananItem {
          .card {
            @include desktop() {
              width: 250px;
            }

            @include tablet() {
              width: 250px;
            }

            @include mobile() {
              width: 300px;
              height: 380px;
            }

            .card-img-top {
              @include desktop() {
                margin-top: 35px;
              }

              @include tablet() {
                margin-top: 35px;
              }

              @include mobile() {
                width: 85px;
                margin-top: 40px;
              }
            }

            .card-title {
              @include desktop() {
                margin-top: 20px;
              }

              @include tablet() {
                margin-top: 20px;
              }

              @include mobile() {
                font-size: 26px;
                margin-top: 30px;
              }
            }

            .card-text {
              @include mobile() {
                font-size: 20px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
