@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$primary-color: #3366ff;
$hero-color: #172b5e;
$font-light: #fff;
$font-dark: #000000;
$para-color: #464646;
$layanan-keamanan: #94ccfd;
$layanan-cloud: #7aec8d;
$layanan-fleksibel: #fec7a9;
$icon-star: #e89900;
$accordion-bg: #f4f7fb;

// Breakpoints
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin desktop2 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin buttonPrimary($hoverColor) {
  background: $primary-color;
  padding: 10px 20px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $hoverColor;
    background-color: transparent;
    border-color: $primary-color;
  }
}
@mixin buttonOutlinePrimary($color) {
  background: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  color: $color;

  &:hover {
    color: $primary-color;
  }
}

// Navbar
.headerWrapper {
  height: 100vh;
  background: $hero-color;

  @include desktop() {
    height: 100%;
  }

  @include tablet() {
    height: 100%;
  }

  @include mobile() {
    height: 100%;
  }
}
.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;

  .container {
    .navbar-brand {
      font-size: 24px;
      font-weight: 700;

      @include mobile() {
        font-size: 30px;
      }
    }

    .navbar-toggler {
      border: none;

      svg {
        color: $font-light;
        font-size: 30px;
      }
    }

    .navbar-collapse {
      @include desktop() {
        margin: 20px 0;
      }

      @include tablet() {
        margin: 20px 0;
      }

      @include mobile() {
        margin: 20px 0;
      }

      .navbar-nav {
        gap: 40px;
        text-align: center;

        @include desktop() {
          gap: 10px;
        }

        @include tablet() {
          gap: 10px;
        }

        @include mobile() {
          gap: 10px;
        }

        .nav-item {
          .nav-link {
            font-size: 14px;
            margin-bottom: -13px;
            color: $font-light;

            &.active {
              &::after {
                content: "";
                display: block;
                margin-top: 5px;
                width: 100%;
                height: 3px;
                background: $primary-color;
                transition: width 0.3s;

                @include desktop() {
                  height: 0;
                  width: 0;
                }

                @include tablet() {
                  height: 0;
                  width: 0;
                }

                @include mobile() {
                  height: 0;
                  width: 0;
                }
              }
            }

            &::after {
              content: "";
              display: block;
              margin-top: 5px;
              width: 0;
              height: 3px;
              background: $primary-color;
              transition: width 0.3s;

              @include desktop() {
                height: 0;
              }

              @include tablet() {
                height: 0;
              }

              @include mobile() {
                height: 0;
              }
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            @include mobile() {
              font-size: 16px;
            }
          }
        }
      }

      .btn-navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop() {
          margin-top: 20px;
        }

        @include tablet() {
          margin-top: 20px;
        }

        @include mobile() {
          margin-top: 20px;
        }

        .btn-primary {
          @include buttonPrimary($font-light);
        }
      }
    }
  }
}

// Hero Section
.heroSection {
  margin-top: 100px;
  padding-bottom: 100px;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    margin-top: 70px;
  }

  .innerHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include desktop() {
      gap: 100px;
      flex-direction: column-reverse;
    }

    @include mobile() {
      gap: 70px;
    }

    .colHero-1 {
      .dotsImage {
        position: absolute;
        height: 150px;
        left: -40px;
        top: -65px;

        @include desktop() {
          display: none;
        }
      }

      .heroTypography {
        position: relative;
        h1 {
          color: $font-light;
          font-size: 46px;
          font-weight: 700;
          line-height: 60px;

          span {
            color: $primary-color;
          }

          @include mobile() {
            font-size: 9vw;
            line-height: 12vw;
          }
        }

        p {
          color: $font-light;
          font-size: normal;
          font-weight: 300;
          margin-top: 20px;
        }
      }
      .btn-hero {
        margin-top: 50px;

        .btn-primary {
          @include buttonPrimary($font-light);
        }

        .btn-outline-primary {
          @include buttonOutlinePrimary($font-light);
        }
      }
    }

    .colHero-2 {
      display: flex;
      justify-content: end;

      @include desktop() {
        justify-content: center;
      }

      img {
        width: 400px;
        margin-right: 0;

        @include mobile() {
          width: 80vw;
        }
      }
    }
  }
}

// AboutUs Section
.aboutUsWrapper {
  padding: 76px 0;

  h5 {
    color: $primary-color;
    font-weight: 600;
  }

  h1 {
    font-weight: 600;
  }

  .innerAboutUs {
    margin-top: 100px;
    display: flex;
    row-gap: 50px;

    @include desktop() {
      margin-top: 40px;
      gap: 40px;
    }

    @include tablet() {
      margin-top: 40px;
      gap: 40px;
    }

    @include mobile() {
      margin-top: 20px;
      gap: 20px;
    }

    .aboutImage {
      img {
        width: 500px;
        position: relative;

        @include mobile() {
          width: 95vw;
        }
      }
    }

    .aboutUsTypo {
      p {
        color: $para-color;
        font-size: 18px;
      }

      .para-desktop {
        @include mobile() {
          display: none;
        }
      }

      .para-mobile {
        display: none;

        .btnReadmore {
          text-decoration: none;
          color: $primary-color;
          font-weight: 600;
          margin-left: 5px;
        }

        @include mobile() {
          display: block;
          text-align: justify;
        }
      }

      .btnAbout {
        .btn-primary {
          @include buttonPrimary($primary-color);
        }

        .btn-outline-primary {
          font-weight: 600;
          @include buttonOutlinePrimary($font-dark);
        }
      }
    }
  }
}

// Layanan Section
#layanan {
  padding: 79px 0;
  h5 {
    color: $primary-color;
    font-weight: 600;
  }

  h1 {
    font-weight: 600;
    line-height: 60px;
    padding: 0 100px;

    @include desktop() {
      padding: 0;
      line-height: 50px;
    }

    @include mobile() {
      line-height: 40px;
    }
  }

  .innerSwiper {
    @include mobile() {
      padding: 0 20px;
    }
    .swiper {
      padding: 40px 0;
      margin-top: 40px;
      .swiper-wrapper {
        display: flex;

        @include desktop() {
          column-gap: 30px;
        }

        @include tablet() {
          column-gap: 30px;
        }

        @include mobile() {
          column-gap: 25px;
          justify-content: flex-start;
        }
        .layananItem {
          &:nth-child(1) {
            .card {
              &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 5px;
                background-color: $primary-color;
              }
            }
          }
          &:nth-child(2) {
            .card {
              &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 5px;
                background-color: $layanan-keamanan;
              }
            }
          }
          &:nth-child(3) {
            .card {
              &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 5px;
                background-color: $layanan-cloud;
              }
            }
          }
          &:nth-child(4) {
            .card {
              &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 5px;
                background-color: $layanan-fleksibel;
              }
            }
          }

          .card {
            // padding: 24px 16px;
            width: 275px;
            height: 275px;

            box-shadow: 0px 40px 16px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 5px 5px;

            @include desktop() {
              width: 250px;
            }

            @include tablet() {
              width: 250px;
            }

            @include mobile() {
              width: 350px;
              height: 380px;
            }

            .card-img-top {
              width: 60px;
              margin-top: 35px;

              @include desktop() {
                margin-top: 35px;
              }

              @include tablet() {
                margin-top: 35px;
              }

              @include mobile() {
                width: 85px;
                margin-top: 40px;
              }
            }

            .card-title {
              font-size: 18px;
              color: $font-dark;
              font-weight: 600;
              margin-top: 20px;

              @include desktop() {
                margin-top: 20px;
              }

              @include tablet() {
                margin-top: 20px;
              }

              @include mobile() {
                font-size: 28px;
                margin-top: 30px;
              }
            }

            .card-text {
              color: $font-dark;
              font-weight: 400;

              @include mobile() {
                font-size: 22px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
